@import 'partials/header.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    background: linear-gradient(to bottom, #4b0082, #1a1a1a); /* Dark purple to near black gradient */
    color: #fff; /* White text color for contrast */
    font-family: 'Arial', sans-serif; /* Default font */
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
}
